<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ACadSharp" version="1.1.1-alpha" targetFramework="net48" />
  <package id="IronOcr" version="2022.1.0" targetFramework="net48" />
  <package id="TeklaOpenAPI" version="2017.1.10074" targetFramework="net46" />
  <package id="Tesseract" version="4.1.1" targetFramework="net48" />
</packages>